body {
    padding: 0rem;
    margin: 0rem; 
    font-family: 'Montserrat', sans-serif; 
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url("lukas-messing-background-dark.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000000;
}

.content {
    flex: 1 0 auto;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    padding: 1.5rem;
}
  
.navBar {
    display: flex; 
    align-items: center;
    background-color:transparent; 
    justify-content: space-between;
    padding: 0rem;
}

.homeButton {
    display: flex;
    align-items: center;
    margin-left: 1.2rem; 
}

#themeToggleButton {
    border-style: none;
    margin: 1rem;
    background-color: transparent;
    font-size: 18px;
}

img{
    width: 4rem;
    height: 4rem;
}

.homeButton a{
    letter-spacing: 0.4rem;
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 900;
    
}

.navLinks ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

.navLinks li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
     letter-spacing: .1rem; 
    padding: 1rem;
    font-size: 14px;
    display: block;
}

.navLinks li a:hover {
    font-weight: 700;
}

.navLinks li:hover {
    border-radius: 5px;
}

.hamburger {
    align-items: center;
    position: absolute;
    top: 1.3rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 7vw;
    height: 19px;
    cursor: pointer;
} 

.hamburger .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
}

@media screen and (max-width: 540px) {
    .hamburger {
        display: flex;
    }

    .navLinks {
        display: none;  
        width: 100%;
    }

    .navBar {
        flex-direction: column;
         align-items: flex-start; 
    }

    .navLinks ul {
        width: 100%; 
        flex-direction: column; 
    } 

    .navLinks li {
        text-align: center; 
        width: 100%;
    }

    .navLinks li a {
        padding: .5rem 1rem;
    }

    .navLinks.active {
        display: flex;
    }  

    p {
        font-size: 12px;
    }
}

object {
    display: flex;
    justify-content: center;
    display: block;
}

footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    text-align: center;
    background-color:transparent; 
    flex-shrink: 0;
}

footer section {
    display: flex;
    justify-content: center;
}

footer section a {
    text-decoration: none; 
    color: rgb(255, 255, 255);
    padding: 1rem;
    font-size: 14px;
}

p {
    color: rgb(255, 255, 255);
    letter-spacing: 0.05rem;
    text-align: center;
    line-height: 1.4;

}

h2, h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 3;

}

.aboutMe {
    text-align: center;
    flex: 1 0 auto;
    padding: 1.5rem;
}

.contentProjects {
    text-align: center;
    flex: 1 0 auto;
    padding: 1.5rem;
}

p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-style: italic;
}
